<div class="center">
  <img class="self" src="./assets/amandine.png" alt="Amandine Malandre"/>
  <div class="self">
    <h1>Amandine Malandre</h1>
    <p><strong>Assistante de communication en alternance</strong>
       <br>Confédération Française de la Boucherie, Boucherie-Charcuterie, Traiteurs.
    </p>
    <div class="links">
      <a target="_blank" href="https://fr.linkedin.com/in/amandine-malandre-20ba72154"><img src="./assets/linked-in.png"/></a>
      <!-- <a target="_blank" href="https://www.instagram.com/"><img src="./assets/instagram.png"/></a> -->
      <a target="_blank" href="mailto:amandine.malandre@hotmail.fr"><img src="./assets/mail.png"/></a>
    </div>
  </div>
</div>
